body{
    background:#FFF;
}

/* Main Schedule View Styles */

.header-bar{
    color: #333;
}

.header-title{
    font-size: 1.5em;
    color: #000;
}

.header-subtitle{
    font-size: 1.2em;
    color: #808080;
    padding-left: 5px;
}