
#mainPageContainer{
    text-align:center;
    margin:auto auto;
    position:relative;
    min-width:46em;
    width:75%;
    background:#9999FF;
}
#GridView1{
    width:100%;
}
body{
    background:#333333;
}